{% extends "appCoder/padre.html" %} <!--el extends se usa para heredar de padre -->
{% load static %} <!--carga los archivos de boostrap (el css)-->

{% block section_name %}
<h3>Formulario para profesores </h3>
{% endblock %}

{% block contenidoQueCambia %}
<form action="{% url 'profesorFormulario' %}" method="post">{% csrf_token %}
    <h1> Ingrese los datos del curso </h1>
   <table> 
       {{miFormulario.as_table}}
   </table>
    <input type="submit" value="Enviar formulario hecho con la API ">
    
</form>
{% endblock %}